
@model AuditExample.Models.Book
<div class="container">
    <div class="jumbotron">
        <h3>Library</h3>
    </div>
    <hr>
    @using(Html.BeginForm("Update","Book",FormMethod.Post))
    {  
        string btnText = "";
        btnText=Model.Id > 0 ? "Güncelle" : "Kaydet";
        <table class="table">
            <tr>
                <td>
                    Ad:
                </td>
                <td>
                    <input type="text" value="@Model.Name" id="Name" name="Name">
                </td>
            </tr>
            <tr>
                <td>
                    ISBN:
                </td>
                <td>
                    <input type="text" value="@Model.ISBN" id="ISBN" name="ISBN">
                </td>
            </tr>
            <tr>
                <td>
                    Author:
                </td>
                <td>
                    <input type="text" value="@Model.Author" id="Author" name="Author">
                </td>
            </tr>
         <tr>
               
                     <td>
                         @* <input type="submit" value=@btnText class="btn btn-warning"> *@
                        @if(Model.Id>0)
                         { 
                             <input type="submit" value="Güncelle" class="btn btn-warning">
                         }
                         else
                         {
                              <input type="submit" value="Kaydet" class="btn btn-warning">
                         }
                              
                     </td>
                 </tr>
        </table>
        <input type="hidden" id="ID" name="ID" value="@Model.Id">
    }
</div>